.comment-section {
    margin-top: 30px;
}

.comment-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    background-color: #0f053a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0c0327;
}

#comments-container {
    margin-top: 20px;
}

.comment {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.comment p {
    margin: 0;
}
